# fly.toml file generated for polished-smoke-4825 on 2022-01-21T23:53:31-08:00

app = "polished-smoke-4825"

kill_signal = "SIGINT"
kill_timeout = 1
processes = []

[deploy]
# release_command = "npx -y prisma migrate deploy"
strategy = "bluegreen"

[env]
NODE_ENV = "production"

[experimental]
allowed_public_ports = []
auto_rollback = true

[[services]]
http_checks = []
internal_port = 3000
processes = ["app"]
protocol = "tcp"
script_checks = []

[services.concurrency]
hard_limit = 25
soft_limit = 20
type = "connections"

[[services.ports]]
handlers = ["http"]
port = 80

[[services.ports]]
handlers = ["tls", "http"]
port = 443

[[services.tcp_checks]]
grace_period = "1s"
interval = "1s"
restart_limit = 0
timeout = "2s"